<html>
<head>
    <meta charset="utf-8">
    <title> Tables </title>
    <link rel="stylesheet" href="public/css/webix.css">

    <script src="public/js/array_all.js"></script>

    <script src="public/js/modal_Windows.js"></script>
   

    <script src="public/js/index.js"></script>



    <script src="public/js/requests.js"></script>

    
    <script src="public/js/webix.js"></script>

    <style>
        .align {
            text-align: center;
        }
    </style>
</head>

<body>

<div id="ButtonExitDelSession" class="Exit_Session_delete">Выход</div>

</body>


</html>